.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 34px 0;
}

.dateWrapper {
  display: flex;
  margin-bottom: 10px;
}

.article {
  display: grid;
  font-size: 14px;
  gap: 15px;
}
