header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header .location-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1d2540;
}

.locationWrapper {
  width: 100%;
}

.latlng {
  color: #606060;
  font-size: 12px;
  padding-left: 5px;
}

input {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 10px 10px;
  outline: 0;
  border: 0;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

::placeholder {
  font-style: italic;
  font-size: 12px;
}
.input-wrapper {
  min-width: 200px;
  display: flex;
  position: relative;
  flex: 1 0;
  width: 100%;
}

.srcicon {
  position: absolute;
  right: 8px;
  top: 7px;
  cursor: pointer;
}

@media screen and (max-width: 481px) {
  header {
    flex-direction: column-reverse;
  }
}
